################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BLL/CobroBLL.cs
/Entidades/Cobro.cs
/Entidades/CobroDetalle.cs
/UI/Registros/rRegistroCobro.cs
/UI/Registros/rRegistroCobro.Designer.cs
/UI/Registros/rRegistroCobro.resx
